.taskList__item {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  width: 100%;
  min-height: 50px;
  padding: 3px 45px 3px 15px;
  position: relative;
  text-decoration: none;

  &:hover {
    background-color: rgba(176, 203, 247, 0.2);

    .taskList__item__edit {
      display: block;

      svg:hover {
        fill: #000;
      }
    }
  }

  &__done {
    text-decoration: line-through;
  }

  &__edit {
    display: none;
    position: absolute;
    right: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;

    svg {
      fill: #ccc;
    }
  }

  &__menu {
    right: -20px;
    position: absolute;
    top: 55px;
    width: auto;
    z-index: 1000;
    transform: translateX(-20px);
    transition: opacity 85ms ease-in, transform 85ms ease-in;

    &Item {
      background: rgba(0, 0, 0, 0.6);
      border-radius: 3px;
      clear: both;
      color: #e6e6e6;
      display: block;
      width: auto;
      float: right;
      margin-bottom: 4px;
      padding: 6px 12px 6px 8px;
      text-decoration: none;
      transition: transform 85ms ease-in;

      &:hover {
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        transform: translateX(5px);
        cursor: pointer;
      }
    }
  }
}

.active {
  background-color: rgba(176, 203, 247, 0.2) !important;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  width: 100%;
  min-height: 50px;
  padding: 3px 45px 3px 15px;
  position: relative;
  text-decoration: none;


  .taskList__item__edit {
    display: block;

    svg {
      fill: #000;
    }
  }
}